@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
	button:focus, input:focus {
		outline: 0;
	}
}

.surface {
	@apply bg-white dark:bg-blue-dark rounded shadow
}

ul {
	li {
		@apply py-2 px-6 cursor-pointer
	}
	li:last-of-type {
		margin-bottom: 0px;
	}
	li:hover {
		@apply bg-gray-veryLightGray dark:bg-blue-veryDarkBlue
	}
}
